export const environment = {
  production: false,
  // Your web app's Firebase configuration
  firebaseConfig : {
    apiKey: "",
    authDomain: "",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: ""
  },
  supabaseConfig: {
    projectURl: "",
    apiKey: "",
    bucket: ""
  }
};










